# Build results
terra-zil/target

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
terra-zil/.cargo-ok

# Text file backups
terra-zil/**/*.rs.bk

# macOS
terra-zil/.DS_Store

# IDEs
terra-zil/*.iml
.idea